*{
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1880px;
  margin: 0;
}
.css-1wjk1gj-MuiTable-root {
  min-width: unset !important
}
.hero{
  margin: 0;
  height: 100vh;
  width: 100%;
  padding-top: 10px;
  padding-right: 5px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../src/img/hero3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section{
  padding-top: 200px;
  padding-left: 200px;
  color: #ffffff;
}
.hero-section h1{
  font-size: 60px;
}
.hero-section h2{
  font-size: 25px;
  padding-top: 30px;
}
.hero-section p{
  padding-top: 90px;
  font-size: 20px;
  padding-top: 20px;
}
.hero-nav{
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  color: #ffffff;
  background-color: #ffffff;
}
.hero-nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.hero-nav ul li a{
  color: #213547;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.hero-nav ul li a:hover{
  color: #888;
  padding-left: 10px;
}
.right-nav{
  right: 0;
}
.logo{
  font-size: 30px;
  padding: 20px;
  color: #888;
}
span{
  font-size: 33px;
  color: #213547;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.search-input-container{
  display: inline-flex;
  column-gap: 20px;
  left: 0;
  padding-top: 30px;
}
.search-input{
  background-color: #888;
  color: black;
  font-weight: bold;
  height: 25px;
  width: 350px;
  border: none;
  border-radius:5px;
}
/* .sort-section{
  padding-left: 400px;
} */
.sort-btn{
  background-color: #888;
  height: 25px;
  width: 110px;
  border: none;
  border-radius:5px;
}
.product-details-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-in-cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

/* .sidebar-container{
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #888;
} */
.sidebar-header{
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 70px;
  background-color: #213547;
  user-select: none;
}
.sidebar-container {
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #ffffff;
  padding-left: 40px;
  border-top: 1px solid rgba(255,255,155,.1);
  border-bottom: 1px solid black;
}

.sidebar{
  flex: 1;
  padding: 1rem;
  position: fixed;
  padding: 20px;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #888;
}
.sidebar-container li:hover{
  padding-left: 20px;
}
.table-category{
  width: 100%;
  /* display: block;
  padding-left: 500px;
  justify-content: center;
  align-items: center; */
}
.category-cols{
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 70px;
}
.labels{
  font-size: 20px;
}
/* .main-content{
  background-color: #213547;
  color: #ffffff;
  right: 0;
  font-size: 20px;
  flex: 2;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.general-content{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
  row-gap: 50px;
  padding-top: 30px;
  padding-left: 400px;
}
.general-content-product{
  column-gap: 70px;
  row-gap: 50px;
  padding-top: 40px;
  padding-left: 370px;
  padding-right: 30px;
}
.general-content-category{
  column-gap: 70px;
  row-gap: 50px;
  padding-top: 40px;
  padding-left: 370px;
  padding-right: 30px;
}
.head-home-page{
  display: flex;
  justify-content: center;
  background-color: #213547;
  height: 27vh;
  width: 179vh;
  color: #ffffff;
  padding: 20px;
}

.cards ul{
  display: inline-flex;
  column-gap: 30px;
  row-gap: 50px;
  padding: 50px;
  align-items: center;
  justify-content: center;

}
.footer{
  background-color:#1a1c1e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.cart h1{
  background-color: #b9b5b5;
  color: #213547;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.cart-amount{
  background-color: #b9b5b5;
  color: #213547;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  padding: 20px;
}
.cart p{
  font-size: 30px;
}
.pagenation{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px){
  .hero{
    height: 70vh;
    width: 100%;
  }
  .hero-section{
    margin: 0;
    left: 0;
    padding: 50px;
  }
  .hero-section h1{
    font-size: 36px;
    line-height: 50px;
  }
  .hero-section h2{
    font-size: 28px;
    line-height: 50px;
  }
  .sort-section{
    padding-top: 20px;
  }
  .search-input{
    width: 200px;
  }
  .sidebar{
    width: 100%;
    height: 50px;
    top: auto;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .sidebar-header{
    width: 150px;
    height: 50px;
    font-size: 18px ;
  }
  .sidebar-container{
    display: flex;
    justify-content: space-between;
    width: auto;
    position: unset;
    font-size: 18px;
  }
  .sidebar-container a{
    color: #ffffff;
    width: auto;
    position: unset;
  }
  .main-content {
    margin: 0;
    padding: 20px;
    left: 0;
  }
  .general-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    padding-left: 0;
    padding-bottom: 50px;
  }
  .general-content-category{
    margin: 0;
    padding: 0;
    left: 0;
  }
  .table-category{
    margin: 0;
    padding: 0;
    left: 0;
    padding-bottom: 40px;
  }
  .general-content-product{
    margin: 0;
    padding: 0;
    left: 0;
  }
  .table-product{
    margin: 0;
    padding: 0;
    left: 0;
    padding-bottom: 40px;
  }
  /* .form-category{
    margin: 0;
    left: 0;
    padding: 0;
    padding-right: 900px;
  } */
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
  

/* 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  .sidebar{

  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
